*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.containment{
    width:95%;
    margin:10% auto;
    .build{
        p{
         text-align: center;
        }
      .jamstack{
          text-align: center;
          margin:4%;
          display: grid;
          grid-template-columns:repeat(2, 50%) ;
          .divs{
              margin:10% 0px;
              img{
                  width:60%;
                  border-radius: 20px;
              }
              p{
                  font-size: 1.3em;
                  border-right:2px dotted orange;
            border-bottom:2px solid orange ;
              }
          }
      } 
    }
    .trad{
        margin-top:20px;
        p{
            text-align: center;
        }
        .divs{
            text-align: center;
            margin:4%;
            display: grid;
            grid-template-columns:repeat(2, 50%) ;
            .item{
                margin:10% 0px;
                img{
                    width:70%;
                    height:70%;
                    border-radius: 10px;
                }
                p{
                    font-size: 1.2em;
                }  
            }
        }
    }
}
@media (min-width:780px){
    .containment{
        width:95%;
        margin:4% auto;
        .build{
            p{
                text-align:unset;
            }
          .jamstack{
              text-align: inherit;
              margin:4%;
              display: grid;
              grid-template-columns:repeat(3, 30%) ;
              .divs{
                  margin:10% 0px;
                  img{
                      width:60%;
                      border-radius: 20px;
                  }
                  p{
                      font-size: 1.3em;
                      border-right:2px dotted orange;
                border-bottom:2px solid orange ;
                  }
              }
          } 
        }
        .trad{
            p{
                text-align: center;
            }
            .divs{
                text-align: center;
                margin:4%;
                display: grid;
                grid-template-columns:repeat(3, 25%) ;
                .item{
                    margin:10% 0px;
                    img{
                        width:60%;
                        height:60%;
                        border-radius: 10px;
                    }
                    p{
                        font-size: 1.2em;
                    }  
                }
            }
        }
    }
}